*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #2D4263;
    color: #ECDBBA;
}
.container{
    display: flex;
    justify-content: center;
    width:100vw;
}
.search-container{
    display: flex;
    justify-content: center;
    width:100vw;
}
.cards {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center ;

    gap:20px;
    width: 90%;
}
